/.pybuild/
/.pythonpath/
/*/.tox/
__pycache__/
*.egg-info/
/debian/*.substvars
/debian/*.debhelper
/debian/*-stamp
/debian/files
/debian/bondi-distro-info/
/debian/bondi-image/
/debian/bondi-package/
/debian/bondi-repo-index/
/debian/python3-bondi-distro-info/
/debian/python3-bondi-ffi-libarchive/
/debian/python3-bondi-image-gen/
/debian/python3-bondi-misc/
/debian/python3-bondi-package/
/debian/python3-bondi-repository/
/development.sqlite3
