Source: bondi-distro-tools
Section: admin
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends:
 debhelper (>= 11), 
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 4.1.3
Homepage: https://github.com/yaybondi/distro-tools
X-Python3-Version: >= 3.2

Package: python3-bondi-ffi-libarchive
Architecture: all
Depends:
 libarchive-dev,
 ${python3:Depends},
 ${misc:Depends}
Description: ffi bindings to libarchive-dev (Python 3)
 Foreign function interface bindinds to libarchive.

Package: python3-bondi-misc
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends}
Description: Utilities shared among other Bondi OS Python packages (Python 3)
 Collection of scripts shared among other Bondi OS Python packages.

Package: python3-bondi-distro-info
Architecture: all
Depends:
 python3-bondi-misc (= ${binary:Version}),
 ${python3:Depends},
 ${misc:Depends}
Description: Bondi distro info tool (Python 3)
 This package contains the bondi-distro-info tool.

Package: bondi-distro-info
Architecture: all
Depends:
 python3-bondi-distro-info (= ${binary:Version}),
 ${misc:Depends}
Description: Bondi distro info tool (meta package)
 This pulls in python3-bondi-distro-info package which contains the
 bondi-distro-info tool.

Package: python3-bondi-package
Architecture: all
Depends:
 autotools-dev,
 binutils,
 chrpath,
 patch,
 python3-bondi-ffi-libarchive (= ${binary:Version}),
 python3-bondi-misc (= ${binary:Version}),
 python3-bondi-distro-info (= ${binary:Version}),
 python3-dateutil,
 python3-html2text,
 python3-lxml,
 python3-magic,
 usign,
 ${python3:Depends},
 ${misc:Depends}
Description: Bondi OS packaging tools (Python 3)
 This package contains the bondi-pack and deb2bondi tools.

Package: bondi-package
Architecture: all
Depends:
 python3-bondi-package (= ${binary:Version}),
 ${misc:Depends}
Description: Bondi OS packaging tools (meta package)
 This pulls in the python3-bondi-package package, which contains the bondi-pack
 and deb2bondi tools.

Package: python3-bondi-repository
Architecture: all
Depends:
 usign,
 python3-bondi-package (= ${binary:Version}),
 ${python3:Depends},
 ${misc:Depends}
Description: Bondi OS repo management tools (Python 3)
 This package contains the bondi-repo-index tool.

Package: bondi-repo-index
Architecture: all
Depends:
 python3-bondi-repository (= ${binary:Version}),
 ${misc:Depends}
Description: Bondi OS package repo index generator (meta package)
 This pulls in the python3-bondi-repository package, which contains the
 bondi-repo-index tool.

Package: python3-bondi-image-gen
Architecture: all
Depends:
 python3-bondi-misc (= ${binary:Version}),
 ${python3:Depends},
 ${misc:Depends}
Description: Bondi OS image generator scripts (Python 3)
 This package contains the bondi-image tool.

Package: bondi-image
Architecture: all
Depends:
 python3-bondi-image-gen (= ${binary:Version}),
 ${misc:Depends}
Description: Bondi OS image generator (meta package)
 This pulls in the python3-bondi-image-generator package, which contains the
 bondi-image tool.
